<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viveros en Bogotá</title>
    <!-- Usamos la etiqueta static para cargar archivos CSS -->
    <link rel="stylesheet" href="{% static 'estilo/viveros.css' %}">
</head>
<body>
    <header>
        <nav class="main-nav">
            <div class="logo">
                <!-- Usamos la etiqueta static para cargar imágenes -->
                <img src="{% static 'images/Logo de Nombre con Iniciales en Círculo Marketing Digital Tipográfico Minimalista Blanco y Negro.png' %}" alt="Logo">
            </div>
            <ul class="menu">
                <li><a href="{% url 'index' %}">Inicio</a></li>
                <li><a href="{% url 'plantas' %}">Sobre plantas</a></li>
                <li><a href="{% url 'catalogo' %}">Catálogo</a></li>
                <li><a href="{% url 'sembrado' %}">Sembrado</a></li>
                <li><a href="{% url 'viveros' %}">Viveros</a></li>
                <li><a href="{% url 'comunidad' %}">comunidad</a></li>
                <li><a href="{% url 'contacto' %}">Contacto</a></li>
            </ul>
            <div class="icons">
                <a href="#"><img src="{% static 'images/persona.png' %}" alt="Idioma"></a>
                <div class="dropdown">
                    <a href="#" class="dropbtn">Usuario</a>
                    <div class="dropdown-content">
                        <a href="{% url 'registro' %}" id="register-link">Registrarse</a>
                    <a href="{% url 'iniciar' %}" id="login-link">Iniciar Sesión</a>
                </div>
            </div>
        </nav>
    </header>

    <section>
        <h2>Vivero en Chapinero</h2>
        <div class="vivero-info">
            <div class="text-info">
                <h3>Centro de Jardinería – Vivero en Bogotá</h3>
                <p>Cra. 9 No. 60-39</p>
                <p>Horario de Atención:</p>
                <p>Lunes a Sábado: 8:00 a.m. – 5:30 p.m.</p>
                <p>Domingos: Cerrado</p>
                <p>WHATSAPP: 300 2655409</p>
                <p>PBX 743 4350</p>
                <p>Correo de contacto: mercadeo@jardineros.com.co</p>
            </div>
            <div class="image-info">
                <!-- Usamos la etiqueta static para cargar imágenes -->
                <img src="{% static 'images/vivero reserva.jpg' %}" alt="Centro de Jardinería">
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>company</h4>
                    <ul>
                        <li><a href="#">about us</a></li>
                        <li><a href="#">our services</a></li>
                        <li><a href="#">privacy policy</a></li>
                        <li><a href="#">affiliate program</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>get help</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">shipping</a></li>
                        <li><a href="#">returns</a></li>
                        <li><a href="#">order status</a></li>
                        <li><a href="#">payment options</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>online shop</h4>
                    <ul>
                        <li><a href="#">watch</a></li>
                        <li><a href="#">bag</a></li>
                        <li><a href="#">shoes</a></li>
                        <li><a href="#">dress</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>follow us</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Usamos la etiqueta static para cargar archivos JS -->
    <script src="{% static 'js/vive_dec.js' %}"></script>
</body>
</html>
